@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');

.adbarlink{
    text-decoration: none;

}
.adbar{
    width:100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-family: 'Padauk', sans-serif;
    font-family: 'Spectral', serif;
}
.adbar img{
    width:100%;
    margin: 0;
}
.adbarheader{
    background-color: #282c34;
    color:white;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}
.adbarmain{
    background-color: white;
    font-family: 'Playfair Display', serif;
}
.adbarfooter{
    background-color: white;
    color:#282c34;
    padding: 10px;
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.adbarlabel{
    font-size: 0.8em;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}
.adbarurl{
    font-size: 1.05em;
    color:steelblue;
    font-weight: bold;
}

